@using Microsoft.AspNetCore.Http;

<h1>Create an Activity</h1> 
<a style="float: right;" href="/logout">Logout</a>
<a style="float: right;" href="/Dashboard">Home</a>

@model NewActivity

<form asp-action="Create" asp-controller="Belt" method="POST">
  <div class="input">
    <span class="error" asp-validation-for="Title"></span>
    <label asp-for="Title">Title</label>
    <input asp-for="Title">
  </div>
  <div class="input">
    <span class="error" asp-validation-for="Time"></span>
    <label asp-for="Time">Time</label>
    <input asp-for="Time">
  </div>
  <div class="input">
    <span class="error" asp-validation-for="Date"></span>
    <label asp-for="Date">Date</label>
    <input asp-for="Date">
  </div>
  <div class="input">
    <span class="error" asp-validation-for="Duration"></span>
    <label asp-for="Duration">Duration</label>
    <input asp-for="Duration">
  </div>
  <div class="input">
    <span class="error" asp-validation-for="Description"></span>
    <label asp-for="Description">Description</label>
    <input asp-for="Description">
  </div>

  <button>Create Activity</button>
</form>
