<h1>Welcome To the Dojo Activity Center</h1>

  <div class="container">
    <h2>Register</h2>
    <partial name="RegPartial" />
  </div>

  <div class="container">
    <h2>Login</h2>
    <partial name="LogPartial" />
  </div>

